body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
    background-color: #fff;
    margin: 1em;
}

h1, h2 {
    color: #333;
}

#filter {
    margin-bottom: 1em;
}

#project-tabs {
    margin-bottom: 1em;
}

.tab-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
}

.tab-button:hover {
    background-color: #0056b3;
}

.project {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0.5em 0 0.2em 0;
}

form input, form textarea {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 0.5em;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: #0056b3;
}
